In [2]:
import pandas as pd
import numpy as np

(1) 선박입출항현황 데이터

In [3]:
for i in range(2017, 2022):
    for j in range(1, 13):
        if(i== 2017 and j== 1):
            SADS_data = pd.read_csv('/home/ubuntu/MachineLearning/Data/ShipsArrivalandDepartureStatus/%d.SADS/%d.%d.선박입출항.csv'%(i,i, j), encoding='utf-8')
            SADS_data = SADS_data.drop([0,1,2,3,4,5,6,7,8,9,10,11],axis=0)
            SADS_data.columns = ['항명', '호출부호','선명', '입항횟수1', '입항횟수2', '구분','외내','입출','총톤수','국제톤수','징수톤수','입항일시','출항일시', 'CIO수속일시','수리일시', '항해구분', 'MRN 번호','국적1','국적2', '계선장소1','계선장소2','계선장소3','차항지','전출항지','선박용도','승무원(한국인)','승무원(외국인)','승객','예선', '도선','부선호출부호1','부선호출부호2']
        else:
            if(i== 2021 and j==7):
                break
            SADS_data1 = pd.read_csv('/home/ubuntu/MachineLearning/Data/ShipsArrivalandDepartureStatus/%d.SADS/%d.%d.선박입출항.csv'%(i, i, j))
            SADS_data1 = SADS_data1.drop([0,1,2,3,4,5,6,7,8,9,10,11],axis=0)
            SADS_data1.columns = ['항명', '호출부호','선명', '입항횟수1', '입항횟수2', '구분','외내','입출','총톤수','국제톤수','징수톤수','입항일시','출항일시', 'CIO수속일시','수리일시', '항해구분', 'MRN 번호','국적1','국적2', '계선장소1','계선장소2','계선장소3','차항지','전출항지','선박용도','승무원(한국인)','승무원(외국인)','승객','예선', '도선','부선호출부호1','부선호출부호2']
            #print(f'{j}월 데이터: {len(data1)}')
            SADS_data = pd.concat([SADS_data, SADS_data1])
            SADS_data.reset_index(drop=True, inplace = True)

In [4]:
SADS_data

,항명,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,국제톤수,...,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,부선호출부호1,부선호출부호2
0,울산,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,"25,098","25,098",...,NaN,NaN,신조선,NaN,21,2,N,N,NaN,NaN
1,울산,975652,97대광호,2015,001,최종,내항,출항,141,141,...,부산,부산,급유선,2,1,3,N,N,NaN,NaN
2,울산,978218,유림5호,2016,001,최종,내항,출항,190,190,...,울산,기타항,이.접안용 예선,5,NaN,NaN,N,N,NaN,NaN
3,울산,114432,31 신흥호,2016,006,최종,내항,출항,119,119,...,기타항,기타항,견인용예선,2,1,NaN,N,N,NaN,NaN
4,울산,698123,제5동방,2016,014,최종,내항,출항,44,44,...,기타항,기타항,견인용예선,1,1,NaN,N,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,울산,9V9557,BOW DALIAN,2021,007,최종,외항,입항,"6,583","6,583",...,SHANGHAI,여수,석유제품 운반선,NaN,21,NaN,Y,Y,NaN,NaN
214572,울산,5VEH4,XINGHE 9,2021,001,최종,외항,입항,"1,495","1,495",...,ZHOUSHAN PT,부산,일반화물선,NaN,9,NaN,Y,Y,NaN,NaN
214573,울산,130093,삼원,2021,041,최종,내항,입항,699,0,...,기타항,기타항,석유제품 운반선,4,4,0,N,N,NaN,NaN
214574,울산,200013,유성,2021,074,최종,내항,입항,"1,998",0,...,마산,마산,석유제품 운반선,7,5,0,Y,N,NaN,NaN
214575,울산,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,"26,364","26,364",...,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,NaN,25,NaN,Y,Y,NaN,NaN

(2) 시설사용현황 데이터

In [5]:
for i in range(2017, 2022):
    for j in range(1, 13):
        if(i== 2017 and j== 1):
            FUPS_data = pd.read_csv('/home/ubuntu/MachineLearning/Data/FacilityUsePermitStatus/%d.FUPS/%d.%d.시설사용.csv'%(i, i, j))
            FUPS_data = FUPS_data.drop([0,1,2],axis=0)
            FUPS_data.columns = ['순번','호출부호','입항횟수1','입항횟수2','입항횟수3','신고톤수','선박명','선사/대리점1','선사/대리점2','신청시설1','신청시설2','신청시설3','신청일시1(FROM ~ TO)','신청일시2(FROM ~ TO)','지정시설1','지정시설2','지정시설3','지정일시1(FROM ~ TO)','지정일시2(FROM ~ TO)','사용목적명','예보일시','허가유무']
        else:
            if(i== 2021 and j==7):
                break
            FUPS_data1 = pd.read_csv('/home/ubuntu/MachineLearning/Data/FacilityUsePermitStatus/%d.FUPS/%d.%d.시설사용.csv'%(i, i, j))
            FUPS_data1 = FUPS_data1.drop([0,1,2],axis=0)
            FUPS_data1.columns = ['순번','호출부호','입항횟수1','입항횟수2','입항횟수3','신고톤수','선박명','선사/대리점1','선사/대리점2','신청시설1','신청시설2','신청시설3','신청일시1(FROM ~ TO)','신청일시2(FROM ~ TO)','지정시설1','지정시설2','지정시설3','지정일시1(FROM ~ TO)','지정일시2(FROM ~ TO)','사용목적명','예보일시','허가유무']
            #print(f'{j}월 데이터: {len(data1)}')
            FUPS_data = pd.concat([FUPS_data, FUPS_data1])
            FUPS_data.reset_index(drop=True, inplace = True)

호출부호_입항횟수1_입항횟수2_i

In [6]:
FUPS_data

,순번,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선박명,선사/대리점1,선사/대리점2,신청시설1,...,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정시설3,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,예보일시,허가유무
0,1,D7BN,2016,019,001,8.581,우동,OST0212,우민해운(주),WAE,...,2016-12-28 06:15,2016-12-28 07:45,WAE,03,정박지-E3,2016-12-28 06:15,2016-12-28 07:45,접안대기,2017-01-01,허가완료
1,2,D7BN,2016,019,002,8.581,우동,OST0212,우민해운(주),MBA,...,2016-12-28 08:45,2016-12-29 01:45,MBA,01,양곡부두,2016-12-28 08:45,2016-12-29 01:45,양하,2017-01-01,허가완료
2,3,D7BN,2016,019,003,8.581,우동,OST0212,우민해운(주),WAE,...,2016-12-29 06:45,2016-12-30 06:40,WAE,01,정박지-E1,2016-12-29 06:45,2016-12-30 06:40,접안대기,2017-01-01,허가완료
3,4,D7BN,2016,019,004,8.581,우동,OST0212,우민해운(주),MDS,...,2016-12-30 07:45,2016-12-31 19:30,MDS,01,S-OIL1부두,2016-12-30 07:45,2016-12-31 19:30,적하,2017-01-01,허가완료
4,5,075682,2017,001,001,5.946,NaN,YSK0018,한선해운(주),MBR,...,2017-01-01 23:00,2017-01-02 12:00,MBR,01,UTK부두,2017-01-02 04:25,2017-01-02 18:05,양하,2017-01-01,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223278,4145,D7RI,2021,003,001,6.843,라용 케미,YSZ2381,선우탱커 주식회사,WAB,...,2021-06-27 14:35,2021-06-27 21:05,WAB,02,벙커링전용정박지 E2,2021-06-27 14:35,2021-06-27 21:05,접안대기,2021-06-30,허가완료
223279,4146,3EIT4,2021,001,001,4.301,MORNING HOPE,USC2025,제이엠쉬핑(주),WAE,...,2021-06-25 10:30,2021-06-28 12:30,NaN,NaN,NaN,NaN,NaN,접안대기,2021-06-30,미허가
223280,4147,200035,2021,029,001,497,우원호,BSZ3327,우원마린 주식회사,MLJ,...,2021-07-03 06:00,2021-07-03 20:00,NaN,NaN,NaN,NaN,NaN,접안대기,2021-06-30,미허가
223281,4148,088238,2021,084,001,700,3동주,USK0074,영우해운(주),MBU,...,2021-07-01 07:00,2021-07-01 16:00,NaN,NaN,NaN,NaN,NaN,적하,2021-06-30,미허가
223282,4149,HO5909,2021,016,001,1.433,켐 하나,BSK2514,하나마린(주),MB4,...,2021-06-29 23:05,2021-06-30 08:10,NaN,NaN,NaN,NaN,NaN,양하,2021-06-30,미허가

In [7]:
SADS_data.info()
FUPS_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214576 entries, 0 to 214575
Data columns (total 32 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   항명        214576 non-null  object
 1   호출부호      214576 non-null  object
 2   선명        214576 non-null  object
 3   입항횟수1     214576 non-null  object
 4   입항횟수2     214576 non-null  object
 5   구분        214576 non-null  object
 6   외내        214562 non-null  object
 7   입출        214576 non-null  object
 8   총톤수       214383 non-null  object
 9   국제톤수      214383 non-null  object
 10  징수톤수      214385 non-null  object
 11  입항일시      214576 non-null  object
 12  출항일시      214562 non-null  object
 13  CIO수속일시   120065 non-null  object
 14  수리일시      214326 non-null  object
 15  항해구분      214409 non-null  object
 16  MRN 번호    104480 non-null  object
 17  국적1       214378 non-null  object
 18  국적2       214378 non-null  object
 19  계선장소1     214496 non-null  object
 20  계선장소2     214496 non-null  object
 21  계선장소3     214496 non-null  object
 22  차항지       213950 non-null  object
 23  전출항지      213952 non-null  object
 24  선박용도      214426 non-null  object
 25  승무원(한국인)  163248 non-null  object
 26  승무원(외국인)  210908 non-null  object
 27  승객        78732 non-null   object
 28  예선        205525 non-null  object
 29  도선        214375 non-null  object
 30  부선호출부호1   14891 non-null   object
 31  부선호출부호2   19 non-null      object
dtypes: object(32)
memory usage: 52.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223283 entries, 0 to 223282
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   순번                223283 non-null  object
 1   호출부호              223283 non-null  object
 2   입항횟수1             223283 non-null  object
 3   입항횟수2             223283 non-null  object
 4   입항횟수3             223283 non-null  object
 5   신고톤수              223283 non-null  object
 6   선박명               205266 non-null  object
 7   선사/대리점1           223283 non-null  object
 8   선사/대리점2           223283 non-null  object
 9   신청시설1             223283 non-null  object
 10  신청시설2             223283 non-null  object
 11  신청시설3             223283 non-null  object
 12  신청일시1(FROM ~ TO)  223283 non-null  object
 13  신청일시2(FROM ~ TO)  223283 non-null  object
 14  지정시설1             222720 non-null  object
 15  지정시설2             222720 non-null  object
 16  지정시설3             222720 non-null  object
 17  지정일시1(FROM ~ TO)  222720 non-null  object
 18  지정일시2(FROM ~ TO)  222720 non-null  object
 19  사용목적명             211676 non-null  object
 20  예보일시              223283 non-null  object
 21  허가유무              223283 non-null  object
dtypes: object(22)
memory usage: 37.5+ MB

In [8]:
# 결측치 확인
print('SADS(선박입출항) : ', SADS_data.isnull().sum())
print('----------------------------')
print('FUPS(시설사용현황) : ', FUPS_data.isnull().sum())

SADS(선박입출항) :  항명               0
호출부호             0
선명               0
입항횟수1            0
입항횟수2            0
구분               0
외내              14
입출               0
총톤수            193
국제톤수           193
징수톤수           191
입항일시             0
출항일시            14
CIO수속일시      94511
수리일시           250
항해구분           167
MRN 번호      110096
국적1            198
국적2            198
계선장소1           80
계선장소2           80
계선장소3           80
차항지            626
전출항지           624
선박용도           150
승무원(한국인)     51328
승무원(외국인)      3668
승객          135844
예선            9051
도선             201
부선호출부호1     199685
부선호출부호2     214557
dtype: int64
----------------------------
FUPS(시설사용현황) :  순번                      0
호출부호                    0
입항횟수1                   0
입항횟수2                   0
입항횟수3                   0
신고톤수                    0
선박명                 18017
선사/대리점1                 0
선사/대리점2                 0
신청시설1                   0
신청시설2                   0
신청시설3                   0
신청일시1(FROM ~ TO)        0
신청일시2(FROM ~ TO)        0
지정시설1                 563
지정시설2                 563
지정시설3                 563
지정일시1(FROM ~ TO)      563
지정일시2(FROM ~ TO)      563
사용목적명               11607
예보일시                    0
허가유무                    0
dtype: int64

In [9]:
# '부선호출부호1', '부선호출부호2', 'CIO수속일시', 'MRN 번호' 삭제
cols = ['부선호출부호1', '부선호출부호2', 'CIO수속일시', 'MRN 번호', '항명', '국제톤수', '징수톤수', '국적2']
SADS_data.drop(labels=cols, axis = "columns", inplace = True)
SADS_data

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소2,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,"25,098",1950-01-01 00:00,2017-01-18 20:00,...,05,현대미포의장안벽05,NaN,NaN,신조선,NaN,21,2,N,N
1,975652,97대광호,2015,001,최종,내항,출항,141,2015-02-06 12:35,2017-01-11 03:50,...,01,장생포호안,부산,부산,급유선,2,1,3,N,N
2,978218,유림5호,2016,001,최종,내항,출항,190,2016-03-29 09:00,2017-01-24 19:33,...,01,매암부두,울산,기타항,이.접안용 예선,5,NaN,NaN,N,N
3,114432,31 신흥호,2016,006,최종,내항,출항,119,2016-09-09 12:50,2017-01-12 11:20,...,01,용연물양장,기타항,기타항,견인용예선,2,1,NaN,N,N
4,698123,제5동방,2016,014,최종,내항,출항,44,2016-10-18 00:00,2017-01-15 15:10,...,03,현중해양의장안벽,기타항,기타항,견인용예선,1,1,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,9V9557,BOW DALIAN,2021,007,최종,외항,입항,"6,583",2021-06-30 22:25,2021-07-01 16:54,...,03,6부두 03,SHANGHAI,여수,석유제품 운반선,NaN,21,NaN,Y,Y
214572,5VEH4,XINGHE 9,2021,001,최종,외항,입항,"1,495",2021-06-30 22:50,2021-07-01 15:20,...,01,정박지-E1,ZHOUSHAN PT,부산,일반화물선,NaN,9,NaN,Y,Y
214573,130093,삼원,2021,041,최종,내항,입항,699,2021-06-30 23:05,2021-07-01 05:25,...,12,현대오일터미널신항부두,기타항,기타항,석유제품 운반선,4,4,0,N,N
214574,200013,유성,2021,074,최종,내항,입항,"1,998",2021-06-30 23:05,2021-07-01 06:45,...,01,SK2부두 01,마산,마산,석유제품 운반선,7,5,0,Y,N
214575,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,"26,364",2021-06-30 23:15,2021-07-04 07:00,...,03,정박지-E3,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,NaN,25,NaN,Y,Y

In [10]:
SADS_data.loc[SADS_data['호출부호']=='975652', '입항횟수2':'출항일시']

       입항횟수2  구분  외내  입출  총톤수              입항일시              출항일시
1        001  최종  내항  출항  141  2015-02-06 12:35  2017-01-11 03:50
2557     001  최종  내항  입항  141  2017-01-18 17:50  2018-05-04 04:40
63764    001  최종  내항  출항  141  2017-01-18 17:50  2018-05-04 04:40
65398    001  최초  내항  입항  141  2018-05-12 15:30  2019-05-12 15:30
111024   001  최초  내항  출항  141  2018-05-12 15:30  2019-05-12 15:30

In [11]:
#톤수 데이터 정리
SADS_data['총톤수'] = SADS_data['총톤수'].str.replace(",", "")
SADS_data['총톤수'].astype(str).astype(float)

#총톤수가 null인 선박 63개중 한개빼고 국제톤수와 징수톤수도 null이었음 -> 총톤수가 null인 호출부호를 보고 총톤수를 찾아서 평균값을 넣어준다.
flg_is_null = SADS_data['총톤수'].isnull()

for trg in list(SADS_data.loc[flg_is_null, '호출부호'].unique()):
    weight = SADS_data.loc[(~flg_is_null) & (SADS_data['호출부호'] == trg), '총톤수'].mean()
    SADS_data['총톤수'].loc[(flg_is_null) & (SADS_data['호출부호'] == trg)] = weight

print('총톤수값이 null인 선박수:', SADS_data['총톤수'].isnull().sum())

총톤수값이 null인 선박수: 14

In [12]:
SADS_data = SADS_data.dropna(axis=0, subset=['총톤수'])
SADS_data

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소2,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,25098,1950-01-01 00:00,2017-01-18 20:00,...,05,현대미포의장안벽05,NaN,NaN,신조선,NaN,21,2,N,N
1,975652,97대광호,2015,001,최종,내항,출항,141,2015-02-06 12:35,2017-01-11 03:50,...,01,장생포호안,부산,부산,급유선,2,1,3,N,N
2,978218,유림5호,2016,001,최종,내항,출항,190,2016-03-29 09:00,2017-01-24 19:33,...,01,매암부두,울산,기타항,이.접안용 예선,5,NaN,NaN,N,N
3,114432,31 신흥호,2016,006,최종,내항,출항,119,2016-09-09 12:50,2017-01-12 11:20,...,01,용연물양장,기타항,기타항,견인용예선,2,1,NaN,N,N
4,698123,제5동방,2016,014,최종,내항,출항,44,2016-10-18 00:00,2017-01-15 15:10,...,03,현중해양의장안벽,기타항,기타항,견인용예선,1,1,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,9V9557,BOW DALIAN,2021,007,최종,외항,입항,6583,2021-06-30 22:25,2021-07-01 16:54,...,03,6부두 03,SHANGHAI,여수,석유제품 운반선,NaN,21,NaN,Y,Y
214572,5VEH4,XINGHE 9,2021,001,최종,외항,입항,1495,2021-06-30 22:50,2021-07-01 15:20,...,01,정박지-E1,ZHOUSHAN PT,부산,일반화물선,NaN,9,NaN,Y,Y
214573,130093,삼원,2021,041,최종,내항,입항,699,2021-06-30 23:05,2021-07-01 05:25,...,12,현대오일터미널신항부두,기타항,기타항,석유제품 운반선,4,4,0,N,N
214574,200013,유성,2021,074,최종,내항,입항,1998,2021-06-30 23:05,2021-07-01 06:45,...,01,SK2부두 01,마산,마산,석유제품 운반선,7,5,0,Y,N
214575,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,26364,2021-06-30 23:15,2021-07-04 07:00,...,03,정박지-E3,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,NaN,25,NaN,Y,Y

In [13]:
print('총톤수값이 null인 선박수:', SADS_data['총톤수'].isnull().sum())

총톤수값이 null인 선박수: 0

In [14]:
# 결측치 확인
print('SADS(선박입출항) : ', SADS_data.isnull().sum())

SADS(선박입출항) :  호출부호             0
선명               0
입항횟수1            0
입항횟수2            0
구분               0
외내               0
입출               0
총톤수              0
입항일시             0
출항일시             0
수리일시           236
항해구분           153
국적1            184
계선장소1           66
계선장소2           66
계선장소3           66
차항지            612
전출항지           610
선박용도           136
승무원(한국인)     51314
승무원(외국인)      3654
승객          135830
예선            9037
도선             187
dtype: int64

In [15]:
# SADS_data["승무원(한국인)"] 결측치 0으로 채우기
SADS_data["승무원(한국인)"] = SADS_data["승무원(한국인)"].fillna(0)

# 결측치 사라졌는지 재확인
print('SADS(선박입출항) 승무원(한국인) column : ', SADS_data["승무원(한국인)"].isnull().sum())

SADS(선박입출항) 승무원(한국인) column :  0
/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [16]:
# 결측치 0으로 채우기
SADS_data["승무원(외국인)"] = SADS_data["승무원(외국인)"].fillna(0)
SADS_data["승객"] = SADS_data["승객"].fillna(0)

# 결측치 사라졌는지 재확인
print('SADS(선박입출항) 승무원(외국인) column : ', SADS_data["승무원(외국인)"].isnull().sum())
print('SADS(선박입출항) 승객 column : ', SADS_data["승객"].isnull().sum())

SADS(선박입출항) 승무원(외국인) column :  0
SADS(선박입출항) 승객 column :  0

In [17]:
#수리했으면 1, 안했으면 0
SADS_data['수리여부'] = 0
SADS_data['수리여부'] = SADS_data['수리여부'].where(SADS_data['수리일시'].isna(), 1)

cols = ['수리일시']
SADS_data.drop(labels=cols, axis = "columns", inplace = True)

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
SADS_data

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,25098,1950-01-01 00:00,2017-01-18 20:00,...,현대미포의장안벽05,NaN,NaN,신조선,0,21,2,N,N,0
1,975652,97대광호,2015,001,최종,내항,출항,141,2015-02-06 12:35,2017-01-11 03:50,...,장생포호안,부산,부산,급유선,2,1,3,N,N,1
2,978218,유림5호,2016,001,최종,내항,출항,190,2016-03-29 09:00,2017-01-24 19:33,...,매암부두,울산,기타항,이.접안용 예선,5,0,0,N,N,1
3,114432,31 신흥호,2016,006,최종,내항,출항,119,2016-09-09 12:50,2017-01-12 11:20,...,용연물양장,기타항,기타항,견인용예선,2,1,0,N,N,1
4,698123,제5동방,2016,014,최종,내항,출항,44,2016-10-18 00:00,2017-01-15 15:10,...,현중해양의장안벽,기타항,기타항,견인용예선,1,1,0,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,9V9557,BOW DALIAN,2021,007,최종,외항,입항,6583,2021-06-30 22:25,2021-07-01 16:54,...,6부두 03,SHANGHAI,여수,석유제품 운반선,0,21,0,Y,Y,1
214572,5VEH4,XINGHE 9,2021,001,최종,외항,입항,1495,2021-06-30 22:50,2021-07-01 15:20,...,정박지-E1,ZHOUSHAN PT,부산,일반화물선,0,9,0,Y,Y,1
214573,130093,삼원,2021,041,최종,내항,입항,699,2021-06-30 23:05,2021-07-01 05:25,...,현대오일터미널신항부두,기타항,기타항,석유제품 운반선,4,4,0,N,N,1
214574,200013,유성,2021,074,최종,내항,입항,1998,2021-06-30 23:05,2021-07-01 06:45,...,SK2부두 01,마산,마산,석유제품 운반선,7,5,0,Y,N,1
214575,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,26364,2021-06-30 23:15,2021-07-04 07:00,...,정박지-E3,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,0,25,0,Y,Y,1

In [19]:
SADS_data.loc[SADS_data['항해구분'].isnull()]

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
761,2IYF9,BRITISH NIMBUS,2017,001,최종,외항,입항,28137.0,2017-01-05 22:10,2017-01-05 22:10,...,6부두 05,NaN,NaN,NaN,0,0,0,NaN,NaN,1
975,C6CW4,AMAZON FALCON,2017,001,최종,외항,입항,44722.0,2017-01-07 13:30,2017-01-07 13:30,...,정박지-E3,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2197,VRQE6,DHT TIGER,2017,001,최종,외항,입항,30836030836030835787808374784.0,2017-01-16 15:00,2017-01-16 15:00,...,현중해양의장안벽,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2727,2IYH2,BRITISH CAPTAIN,2017,001,최종,외항,입항,4421187069013547594532496850550784.0,2017-01-19 15:48,2017-01-19 15:48,...,정박지-E3,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2925,9MWF2,SERI CENDERAWASIH,2017,001,최종,외항,입항,44537377982711320.0,2017-01-21 10:00,2017-01-21 10:00,...,현중해양의장안벽,NaN,NaN,NaN,0,0,0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200750,V7A2854,상 펄,2021,001,최종,외항,입항,172521.0,2021-03-15 14:10,2021-03-15 14:12,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
201724,3EBU9,GAS GALA,2021,001,최종,외항,입항,162861628616286.0,2021-03-23 09:00,2021-03-23 10:30,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
205848,3EPB5,GAS BARBAROSSA,2021,001,최종,내항,입항,162861628616286.0,2021-04-24 09:00,2021-04-24 10:15,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
208738,V7A4362,REDWOOD MARINER,2021,001,최종,외항,입항,29649.0,2021-05-15 09:00,2021-05-24 01:00,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
212432,3FRB4,GLOBE IRIS,2021,001,최종,내항,입항,162958296249629.0,2021-06-13 10:00,2021-06-15 14:00,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1

In [20]:
SADS_data.loc[SADS_data['호출부호']=='2IYH2', '외내':'전출항지']

,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지,전출항지
2727,외항,입항,4421187069013547594532496850550784.0,2017-01-19 15:48,2017-01-19 15:48,NaN,NaN,WAE,03,정박지-E3,NaN,NaN
2728,외항,출항,30948,2017-01-19 15:48,2017-01-19 15:48,신조선,IM,WAE,03,정박지-E3,NaN,NaN
15097,외항,출항,30948,2017-04-21 13:54,2017-04-23 08:24,기타,IM,WAE,03,정박지-E3,SINGAPORE,DONGGI
15098,외항,입항,30948,2017-04-21 13:54,2017-04-23 08:24,기타,IM,WAE,03,정박지-E3,SINGAPORE,DONGGI
15739,외항,입항,30948,2017-04-26 04:16,2017-05-04 02:05,기타,IM,WAE,03,정박지-E3,TANJONG BIN,울산
16352,외항,출항,30948,2017-04-26 04:16,2017-05-04 02:05,기타,IM,MDU,08,SK8부두,TANJONG BIN,울산
209801,외항,입항,30948,2021-05-23 23:30,2021-05-28 09:00,기타,IM,WAE,03,정박지-E3,TANJONG BIN,LA PAZ
209802,외항,출항,30948,2021-05-23 23:30,2021-05-28 09:00,기타,IM,WAE,03,정박지-E3,TANJONG BIN,LA PAZ

In [21]:
set(SADS_data['항해구분'])

{nan,
 '기타',
 '내외항자격변경',
 '선명변경',
 '수출선박',
 '신조선',
 '실습선,관공선',
 '외국적 내항선',
 '원양조업선',
 '일시외항'}

In [22]:
SADS_data.groupby("항해구분").count()

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
항해구분,,,,,,,,,,,,,,,,,,,,,
기타,211781,211781,211781,211781,211781,211781,211781,211781,211781,211781,...,211781,211763,211765,211781,211781,211781,211781,202950,211781,211781
내외항자격변경,1896,1896,1896,1896,1896,1896,1896,1896,1896,1896,...,1896,1896,1896,1896,1896,1896,1896,1894,1896,1896
선명변경,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
수출선박,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
신조선,465,465,465,465,465,465,465,465,465,465,...,430,21,21,465,465,465,465,428,430,465
"실습선,관공선",19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
외국적 내항선,120,120,120,120,120,120,120,120,120,120,...,120,120,120,120,120,120,120,105,120,120
원양조업선,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
일시외항,108,108,108,108,108,108,108,108,108,108,...,108,108,108,108,108,108,108,108,108,108

In [23]:
def func(x):
    if x == "기타":
        return 0
    elif x == "내외항자격변경":
        return 1
    elif x == "선명변경":
        return 2
    elif x == "수출선박":
        return 3
    elif x == "실습선,관공선":
        return 4
    elif x == "외국적 내항선선":
        return 5
    elif x == "원양조업선":
        return 6
    elif x == "일시외항":
        return 7
    else:
        return 0

In [24]:
SADS_data['항해구분'] = SADS_data['항해구분'].apply(lambda x : func(x))

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [25]:
SADS_data.groupby("국적1").count()

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
국적1,,,,,,,,,,,,,,,,,,,,,
AG,538,538,538,538,538,538,538,538,538,538,...,538,538,538,538,538,538,538,538,538,538
AN,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
AU,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
BB,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
BD,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TZ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
US,230,230,230,230,230,230,230,230,230,230,...,230,230,230,230,230,230,230,230,230,230
VC,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
VN,474,474,474,474,474,474,474,474,474,474,...,474,474,474,474,474,474,474,474,474,474
VU,59,59,59,59,59,59,59,59,59,59,...,59,58,58,59,59,59,59,59,59,59

In [26]:
SADS_data.loc[SADS_data['국적1'].isnull()]

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
761,2IYF9,BRITISH NIMBUS,2017,001,최종,외항,입항,28137.0,2017-01-05 22:10,2017-01-05 22:10,...,6부두 05,NaN,NaN,NaN,0,0,0,NaN,NaN,1
975,C6CW4,AMAZON FALCON,2017,001,최종,외항,입항,44722.0,2017-01-07 13:30,2017-01-07 13:30,...,정박지-E3,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2197,VRQE6,DHT TIGER,2017,001,최종,외항,입항,30836030836030835787808374784.0,2017-01-16 15:00,2017-01-16 15:00,...,현중해양의장안벽,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2727,2IYH2,BRITISH CAPTAIN,2017,001,최종,외항,입항,4421187069013547594532496850550784.0,2017-01-19 15:48,2017-01-19 15:48,...,정박지-E3,NaN,NaN,NaN,0,0,0,NaN,NaN,1
2925,9MWF2,SERI CENDERAWASIH,2017,001,최종,외항,입항,44537377982711320.0,2017-01-21 10:00,2017-01-21 10:00,...,현중해양의장안벽,NaN,NaN,NaN,0,0,0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213374,9HA5357,LEGACY,2021,001,최종,내항,입항,1250012555.0,2021-06-21 00:00,2021-06-21 15:00,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
213376,D5YW6,SOLAR NAAMA,2021,001,최종,외항,입항,18335.0,2021-06-21 00:00,2021-06-22 23:00,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
213901,5LAM7,HMM HANUL,2021,001,최종,외항,입항,152003.0,2021-06-25 00:00,2021-06-25 14:05,...,NaN,NaN,NaN,풀컨테이너선,0,0,0,NaN,NaN,1
214045,V7A2804,PELICAN MARINER,2021,001,최종,외항,입항,29649.0,2021-06-26 00:00,2021-06-26 15:45,...,NaN,NaN,NaN,신조선,0,0,0,NaN,NaN,1
214270,BKNB,EVER COZY,2021,001,최종,외항,입항,17970.0,2021-06-28 00:00,2021-06-28 11:00,...,NaN,NaN,NaN,풀컨테이너선,0,0,0,NaN,NaN,1

In [27]:
SADS_data.loc[SADS_data['호출부호']=='9HA5357', '외내':'선박용도']

,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지,전출항지,선박용도
213373,내항,출항,25000,2021-06-21 00:00,2021-06-21 15:00,0,KR,MQM,04,현대미포의장안벽04,NaN,NaN,LPG 운반선
213374,내항,입항,1250012555.0,2021-06-21 00:00,2021-06-21 15:00,0,NaN,NaN,NaN,NaN,NaN,NaN,신조선
214417,내항,입항,25110,2021-06-29 08:00,2021-07-05 13:00,0,MT,WAE,02,정박지-E2,SINGAPORE,여수,LPG 운반선

In [28]:
SADS_data = SADS_data.dropna(axis=0, subset=['국적1'])
SADS_data

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,25098,1950-01-01 00:00,2017-01-18 20:00,...,현대미포의장안벽05,NaN,NaN,신조선,0,21,2,N,N,0
1,975652,97대광호,2015,001,최종,내항,출항,141,2015-02-06 12:35,2017-01-11 03:50,...,장생포호안,부산,부산,급유선,2,1,3,N,N,1
2,978218,유림5호,2016,001,최종,내항,출항,190,2016-03-29 09:00,2017-01-24 19:33,...,매암부두,울산,기타항,이.접안용 예선,5,0,0,N,N,1
3,114432,31 신흥호,2016,006,최종,내항,출항,119,2016-09-09 12:50,2017-01-12 11:20,...,용연물양장,기타항,기타항,견인용예선,2,1,0,N,N,1
4,698123,제5동방,2016,014,최종,내항,출항,44,2016-10-18 00:00,2017-01-15 15:10,...,현중해양의장안벽,기타항,기타항,견인용예선,1,1,0,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,9V9557,BOW DALIAN,2021,007,최종,외항,입항,6583,2021-06-30 22:25,2021-07-01 16:54,...,6부두 03,SHANGHAI,여수,석유제품 운반선,0,21,0,Y,Y,1
214572,5VEH4,XINGHE 9,2021,001,최종,외항,입항,1495,2021-06-30 22:50,2021-07-01 15:20,...,정박지-E1,ZHOUSHAN PT,부산,일반화물선,0,9,0,Y,Y,1
214573,130093,삼원,2021,041,최종,내항,입항,699,2021-06-30 23:05,2021-07-01 05:25,...,현대오일터미널신항부두,기타항,기타항,석유제품 운반선,4,4,0,N,N,1
214574,200013,유성,2021,074,최종,내항,입항,1998,2021-06-30 23:05,2021-07-01 06:45,...,SK2부두 01,마산,마산,석유제품 운반선,7,5,0,Y,N,1
214575,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,26364,2021-06-30 23:15,2021-07-04 07:00,...,정박지-E3,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,0,25,0,Y,Y,1

In [29]:
SADS_data.loc[SADS_data['차항지'].isnull()]

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,25098,1950-01-01 00:00,2017-01-18 20:00,...,현대미포의장안벽05,NaN,NaN,신조선,0,21,2,N,N,0
762,2IYF9,BRITISH NIMBUS,2017,001,최종,외항,출항,28137,2017-01-05 22:10,2017-01-05 22:10,...,6부두 05,NaN,NaN,신조선,0,25,1,N,N,1
970,BFAN5,LAN HAI SHENG HUI,2017,001,최종,외항,출항,32962,2017-01-07 13:15,2017-01-07 18:05,...,정박지-E3,NaN,NEVELSK,일반화물선,0,23,0,N,N,1
971,BFAN5,LAN HAI SHENG HUI,2017,001,최종,외항,입항,32962,2017-01-07 13:15,2017-01-07 18:05,...,정박지-E3,NaN,NEVELSK,일반화물선,0,23,0,N,N,1
974,C6CW4,AMAZON FALCON,2017,001,최종,외항,출항,44722,2017-01-07 13:30,2017-01-07 13:30,...,정박지-E3,NaN,NaN,신조선,0,24,1,Y,Y,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213373,9HA5357,LEGACY,2021,001,최종,내항,출항,25000,2021-06-21 00:00,2021-06-21 15:00,...,현대미포의장안벽04,NaN,NaN,LPG 운반선,8,3,53,Y,Y,1
213375,D5YW6,SOLAR NAAMA,2021,001,최종,외항,출항,18335,2021-06-21 00:00,2021-06-22 23:00,...,벙커링전용정박지 E2,NaN,NaN,신조선,0,16,0,Y,Y,1
213902,5LAM7,HMM HANUL,2021,001,최종,외항,출항,152003,2021-06-25 00:00,2021-06-25 14:05,...,현중해양의장안벽,NaN,NaN,풀컨테이너선,14,8,2,Y,Y,1
214046,V7A2804,PELICAN MARINER,2021,001,최종,외항,출항,29649,2021-06-26 00:00,2021-06-26 15:45,...,정박지-E2,NaN,NaN,석유제품 운반선,2,14,0,Y,Y,1
214269,BKNB,EVER COZY,2021,001,최종,외항,출항,17970,2021-06-28 00:00,2021-06-28 11:00,...,현대미포의장안벽03,NaN,NaN,신조선,0,17,0,Y,Y,1

In [30]:
SADS_data.loc[SADS_data['호출부호']=='9HA5357', '외내':'선박용도']

,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지,전출항지,선박용도
213373,내항,출항,25000,2021-06-21 00:00,2021-06-21 15:00,0,KR,MQM,04,현대미포의장안벽04,NaN,NaN,LPG 운반선
214417,내항,입항,25110,2021-06-29 08:00,2021-07-05 13:00,0,MT,WAE,02,정박지-E2,SINGAPORE,여수,LPG 운반선

전출항지, 차항지, 예선, 도선은 나중에 모델링 때 군집화

In [31]:
SADS_data.loc[SADS_data['예선'].isnull()]

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
7632,2IYH6,BRITISH CHIEF,2017,001,최종,외항,입항,30948,2017-02-26 13:40,2017-02-26 13:40,...,SK8부두,NaN,NaN,신조선,0,0,0,NaN,NaN,1
12235,DSEB5,201금용,2015,003,최종,내항,출항,57,2015-09-03 00:50,2017-04-13 13:35,...,이진물양장,기타항,기타항,견인용예선,1,0,0,NaN,N,1
14839,9V3700,ST. PAULI,2017,001,최종,외항,입항,29365,2017-04-19 17:10,2017-04-19 17:10,...,OTK부두,NaN,NaN,신조선,0,0,0,NaN,NaN,1
54913,3FVS,G. DOLCE,2018,001,최종,내항,입항,47287,2018-02-20 09:35,2018-02-20 09:35,...,현중해양의장안벽,NaN,NaN,신조선,0,0,0,NaN,NaN,1
67826,048246,울산703호,2017,024,최종,내항,출항,107,2017-10-20 11:45,2018-06-04 12:55,...,용연부두(1선석),기타항,기타항,견인용예선,1,0,0,NaN,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138908,120039,삼성호,2019,048,최종,내항,출항,223,2019-12-02 15:40,2019-12-03 02:40,...,신항컨테이너부두04,부산,여수,급유선,3,1,0,NaN,N,1
138921,120059,부양에이스,2019,081,최종,내항,출항,415,2019-12-02 18:55,2019-12-03 00:45,...,SK2부두 01,기타항,기타항,석유제품 운반선,4,2,0,NaN,N,1
138950,130095,스카이로얄,2019,066,최종,내항,출항,1716,2019-12-02 22:20,2019-12-03 13:55,...,SK2부두 02,부산,마산,석유제품 운반선,6,6,0,NaN,N,1
138963,190008,부광호,2019,059,최종,내항,출항,499,2019-12-02 23:45,2019-12-03 01:10,...,신항컨테이너부두04,부산,부산,석유제품 운반선,4,2,0,NaN,N,1
139051,091116,현중호,2019,013,최종,내항,출항,149,2019-12-03 17:15,2019-12-03 20:10,...,온산2부두,부산,부산,석유제품 운반선,2,1,0,NaN,N,1

In [32]:
SADS_data.loc[SADS_data['호출부호']=='120059', '외내':'도선']

,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선
648,내항,입항,415,2017-01-04 19:55,2017-01-05 08:10,0,KR,WAM,01,정박지 01,기타항,부산,석유제품 운반선,4,2,0,N,N
649,내항,출항,415,2017-01-04 19:55,2017-01-05 08:10,0,KR,MBU,01,SK2부두 01,기타항,부산,석유제품 운반선,4,2,0,N,N
763,내항,출항,415,2017-01-05 22:50,2017-01-06 04:35,0,KR,MBU,02,SK2부두 02,기타항,기타항,석유제품 운반선,4,2,0,N,N
764,내항,입항,415,2017-01-05 22:50,2017-01-06 04:35,0,KR,WAM,02,정박지 02,기타항,기타항,석유제품 운반선,4,2,0,N,N
926,내항,입항,415,2017-01-07 07:30,2017-01-07 13:10,0,KR,WAM,01,정박지 01,기타항,기타항,석유제품 운반선,4,2,0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213451,내항,입항,415,2021-06-21 14:45,2021-06-22 00:40,0,KR,WAM,01,정박지 01,기타항,부산,석유제품 운반선,4,2,0,N,N
214022,내항,입항,415,2021-06-25 19:12,2021-06-26 01:05,0,KR,MBN,12,현대오일터미널신항부두,기타항,부산,석유제품 운반선,4,2,0,N,N
214023,내항,출항,415,2021-06-25 19:12,2021-06-26 01:05,0,KR,MBN,12,현대오일터미널신항부두,기타항,부산,석유제품 운반선,4,2,0,N,N
214438,내항,입항,415,2021-06-29 14:15,2021-06-29 18:40,0,KR,MBU,02,SK2부두 02,기타항,부산,석유제품 운반선,4,2,0,N,N
214439,내항,출항,415,2021-06-29 14:15,2021-06-29 18:40,0,KR,MBU,02,SK2부두 02,기타항,부산,석유제품 운반선,4,2,0,N,N

## 시설사용허가 데이터

In [33]:
FUPS_data

,순번,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선박명,선사/대리점1,선사/대리점2,신청시설1,...,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정시설3,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,예보일시,허가유무
0,1,D7BN,2016,019,001,8.581,우동,OST0212,우민해운(주),WAE,...,2016-12-28 06:15,2016-12-28 07:45,WAE,03,정박지-E3,2016-12-28 06:15,2016-12-28 07:45,접안대기,2017-01-01,허가완료
1,2,D7BN,2016,019,002,8.581,우동,OST0212,우민해운(주),MBA,...,2016-12-28 08:45,2016-12-29 01:45,MBA,01,양곡부두,2016-12-28 08:45,2016-12-29 01:45,양하,2017-01-01,허가완료
2,3,D7BN,2016,019,003,8.581,우동,OST0212,우민해운(주),WAE,...,2016-12-29 06:45,2016-12-30 06:40,WAE,01,정박지-E1,2016-12-29 06:45,2016-12-30 06:40,접안대기,2017-01-01,허가완료
3,4,D7BN,2016,019,004,8.581,우동,OST0212,우민해운(주),MDS,...,2016-12-30 07:45,2016-12-31 19:30,MDS,01,S-OIL1부두,2016-12-30 07:45,2016-12-31 19:30,적하,2017-01-01,허가완료
4,5,075682,2017,001,001,5.946,NaN,YSK0018,한선해운(주),MBR,...,2017-01-01 23:00,2017-01-02 12:00,MBR,01,UTK부두,2017-01-02 04:25,2017-01-02 18:05,양하,2017-01-01,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223278,4145,D7RI,2021,003,001,6.843,라용 케미,YSZ2381,선우탱커 주식회사,WAB,...,2021-06-27 14:35,2021-06-27 21:05,WAB,02,벙커링전용정박지 E2,2021-06-27 14:35,2021-06-27 21:05,접안대기,2021-06-30,허가완료
223279,4146,3EIT4,2021,001,001,4.301,MORNING HOPE,USC2025,제이엠쉬핑(주),WAE,...,2021-06-25 10:30,2021-06-28 12:30,NaN,NaN,NaN,NaN,NaN,접안대기,2021-06-30,미허가
223280,4147,200035,2021,029,001,497,우원호,BSZ3327,우원마린 주식회사,MLJ,...,2021-07-03 06:00,2021-07-03 20:00,NaN,NaN,NaN,NaN,NaN,접안대기,2021-06-30,미허가
223281,4148,088238,2021,084,001,700,3동주,USK0074,영우해운(주),MBU,...,2021-07-01 07:00,2021-07-01 16:00,NaN,NaN,NaN,NaN,NaN,적하,2021-06-30,미허가
223282,4149,HO5909,2021,016,001,1.433,켐 하나,BSK2514,하나마린(주),MB4,...,2021-06-29 23:05,2021-06-30 08:10,NaN,NaN,NaN,NaN,NaN,양하,2021-06-30,미허가

In [34]:
cols = ['선박명', '순번', '신청시설3', '지정시설3', '예보일시']
FUPS_data.drop(labels=cols, axis = "columns", inplace = True)
FUPS_data

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무
0,D7BN,2016,019,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료
1,D7BN,2016,019,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하,허가완료
2,D7BN,2016,019,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료
3,D7BN,2016,019,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하,허가완료
4,075682,2017,001,001,5.946,YSK0018,한선해운(주),MBR,01,2017-01-01 23:00,2017-01-02 12:00,MBR,01,2017-01-02 04:25,2017-01-02 18:05,양하,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223278,D7RI,2021,003,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료
223279,3EIT4,2021,001,001,4.301,USC2025,제이엠쉬핑(주),WAE,01,2021-06-25 10:30,2021-06-28 12:30,NaN,NaN,NaN,NaN,접안대기,미허가
223280,200035,2021,029,001,497,BSZ3327,우원마린 주식회사,MLJ,01,2021-07-03 06:00,2021-07-03 20:00,NaN,NaN,NaN,NaN,접안대기,미허가
223281,088238,2021,084,001,700,USK0074,영우해운(주),MBU,01,2021-07-01 07:00,2021-07-01 16:00,NaN,NaN,NaN,NaN,적하,미허가
223282,HO5909,2021,016,001,1.433,BSK2514,하나마린(주),MB4,01,2021-06-29 23:05,2021-06-30 08:10,NaN,NaN,NaN,NaN,양하,미허가

In [35]:
FUPS_data = FUPS_data.dropna(axis=0, subset=['지정시설1'])
FUPS_data

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무
0,D7BN,2016,019,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료
1,D7BN,2016,019,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하,허가완료
2,D7BN,2016,019,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료
3,D7BN,2016,019,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하,허가완료
4,075682,2017,001,001,5.946,YSK0018,한선해운(주),MBR,01,2017-01-01 23:00,2017-01-02 12:00,MBR,01,2017-01-02 04:25,2017-01-02 18:05,양하,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223266,105351,2021,042,002,575,BSZ7237,봉은해운(주),MBU,01,2021-06-23 01:30,2021-06-23 05:35,MBU,01,2021-06-23 01:30,2021-06-23 05:35,적하,허가완료
223267,D5XS2,2021,001,001,39.738,OST0011,팬오션 주식회사,MBA,01,2021-06-24 14:50,2021-06-29 10:00,MBA,01,2021-06-24 14:50,2021-06-29 10:00,양하,허가완료
223270,VRRQ3,2021,001,002,28.794,ICC2121,주식회사 굳파트너쉬핑,MDS,03,2021-06-28 12:40,2021-06-29 21:05,MDS,03,2021-06-28 12:40,2021-06-29 21:05,적하,허가완료
223272,HOJK,2021,022,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,01,2021-06-29 13:20,2021-06-29 21:05,접안대기,허가완료
223278,D7RI,2021,003,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료

In [36]:
print('FUPS(시설사용현황) : ', FUPS_data.isnull().sum())

FUPS(시설사용현황) :  호출부호                    0
입항횟수1                   0
입항횟수2                   0
입항횟수3                   0
신고톤수                    0
선사/대리점1                 0
선사/대리점2                 0
신청시설1                   0
신청시설2                   0
신청일시1(FROM ~ TO)        0
신청일시2(FROM ~ TO)        0
지정시설1                   0
지정시설2                   0
지정일시1(FROM ~ TO)        0
지정일시2(FROM ~ TO)        0
사용목적명               11598
허가유무                    0
dtype: int64

In [37]:
FUPS_data.loc[FUPS_data['사용목적명'].isnull()]

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무
16,134809,2016,129,001,699,BSZ9782,금양마린(주),MBN,14,2016-12-29 01:30,2016-12-29 06:20,MBN,14,2016-12-29 01:30,2016-12-29 06:20,NaN,허가완료
20,130047,2017,001,001,460,BSZ7248,(주)에우스마린,MDS,01,2017-01-01 02:30,2017-01-01 08:10,MDS,01,2017-01-01 02:30,2017-01-01 08:10,NaN,허가완료
25,071381,2016,066,001,549,BSZ9626,동대해운주식회사,MLJ,01,2016-12-31 18:45,2017-01-01 06:25,MLJ,01,2016-12-31 18:45,2017-01-01 06:25,NaN,허가완료
26,071381,2016,066,002,549,BSZ9626,동대해운주식회사,MBU,01,2017-01-01 06:35,2017-01-01 12:50,MBU,01,2017-01-01 06:35,2017-01-01 12:50,NaN,허가완료
39,091116,2016,074,001,149,BSZ9165,일해마린,MLJ,01,2016-12-31 15:00,2016-12-31 17:00,MLJ,01,2016-12-31 15:50,2016-12-31 17:00,NaN,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221990,9V6096,2021,005,004,7.912,USC2033,한국오드펠유한회사,MB6,05,2021-06-23 01:42,2021-06-23 07:15,MB6,05,2021-06-23 01:42,2021-06-23 07:15,NaN,허가완료
222666,V7VB9,2021,002,001,29.760,BSZ7514,(주)라이언쉬핑,WAE,03,2021-06-20 08:48,2021-06-22 20:00,WAE,02,2021-06-20 08:48,2021-06-22 20:00,NaN,허가완료
222929,HO9294,2021,014,001,1.395,BSK2625,거영해운(주),WAM,01,2021-06-18 21:10,2021-06-18 23:50,WAM,01,2021-06-18 21:10,2021-06-18 23:50,NaN,허가완료
222939,HO9294,2021,014,003,1.395,BSK2625,거영해운(주),WAM,04,2021-06-19 18:05,2021-06-20 17:15,WAM,04,2021-06-19 18:05,2021-06-20 17:15,NaN,허가완료
223200,D8SD,2021,017,001,4.688,ICK0006,우림해운(주),WAE,01,2021-06-22 16:20,2021-06-23 18:13,WAE,01,2021-06-22 16:20,2021-06-23 18:13,NaN,허가완료

In [38]:
set(FUPS_data['사용목적명'])

{nan,
 '갑문통과',
 '계선',
 '급유',
 '기타',
 '상가대기',
 '수리',
 '수입화물장치',
 '양적하',
 '양하',
 '적하',
 '접안대기',
 '출항대기',
 '통과선박',
 '해난',
 '해상하역',
 '화물대기'}

In [39]:
FUPS_data[FUPS_data['사용목적명']=="접안대기"]

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무
0,D7BN,2016,019,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료
2,D7BN,2016,019,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료
5,DSRN9,2017,001,001,997,BSK2678,영산해운(주),WAM,06,2017-01-01 12:00,2017-01-03 00:00,WAM,06,2017-01-01 11:45,2017-01-02 15:00,접안대기,허가완료
8,DSPR5,2016,017,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-29 03:40,2016-12-29 12:40,WAE,01,2016-12-29 03:40,2016-12-29 12:40,접안대기,허가완료
10,DSPR5,2016,018,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-30 11:35,2016-12-31 10:10,WAE,01,2016-12-30 11:35,2016-12-31 10:10,접안대기,허가완료
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223255,DSDD6,2021,009,002,1.598,BSK2457,동보해운(주),WAM,03,2021-06-26 06:20,2021-06-27 10:00,WAM,03,2021-06-26 06:20,2021-06-27 10:00,접안대기,허가완료
223258,150040,2021,037,001,999,YSK0017,태하해운(주),WAM,03,2021-06-28 03:20,2021-06-28 08:27,WAM,01,2021-06-28 03:20,2021-06-28 08:27,접안대기,허가완료
223262,BUSA6,2021,004,001,5.408,USC1002,아성마린(주),WAE,01,2021-06-27 08:30,2021-06-27 20:45,WAE,01,2021-06-27 08:30,2021-06-27 20:45,접안대기,허가완료
223272,HOJK,2021,022,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,01,2021-06-29 13:20,2021-06-29 21:05,접안대기,허가완료
223278,D7RI,2021,003,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료

In [40]:
SADS_data['id'] = SADS_data[['입항횟수1', '입항횟수2', '호출부호']].apply(lambda x:'_'.join(x), axis = 1)
SADS_data

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,...,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부,id
0,V7RW2,AFRICA GAS,2017,001,최초,외항,출항,25098,1950-01-01 00:00,2017-01-18 20:00,...,NaN,NaN,신조선,0,21,2,N,N,0,2017_001_V7RW2
1,975652,97대광호,2015,001,최종,내항,출항,141,2015-02-06 12:35,2017-01-11 03:50,...,부산,부산,급유선,2,1,3,N,N,1,2015_001_975652
2,978218,유림5호,2016,001,최종,내항,출항,190,2016-03-29 09:00,2017-01-24 19:33,...,울산,기타항,이.접안용 예선,5,0,0,N,N,1,2016_001_978218
3,114432,31 신흥호,2016,006,최종,내항,출항,119,2016-09-09 12:50,2017-01-12 11:20,...,기타항,기타항,견인용예선,2,1,0,N,N,1,2016_006_114432
4,698123,제5동방,2016,014,최종,내항,출항,44,2016-10-18 00:00,2017-01-15 15:10,...,기타항,기타항,견인용예선,1,1,0,N,N,1,2016_014_698123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214571,9V9557,BOW DALIAN,2021,007,최종,외항,입항,6583,2021-06-30 22:25,2021-07-01 16:54,...,SHANGHAI,여수,석유제품 운반선,0,21,0,Y,Y,1,2021_007_9V9557
214572,5VEH4,XINGHE 9,2021,001,최종,외항,입항,1495,2021-06-30 22:50,2021-07-01 15:20,...,ZHOUSHAN PT,부산,일반화물선,0,9,0,Y,Y,1,2021_001_5VEH4
214573,130093,삼원,2021,041,최종,내항,입항,699,2021-06-30 23:05,2021-07-01 05:25,...,기타항,기타항,석유제품 운반선,4,4,0,N,N,1,2021_041_130093
214574,200013,유성,2021,074,최종,내항,입항,1998,2021-06-30 23:05,2021-07-01 06:45,...,마산,마산,석유제품 운반선,7,5,0,Y,N,1,2021_074_200013
214575,LACQ6,BOW GEMINI,2021,001,최종,외항,입항,26364,2021-06-30 23:15,2021-07-04 07:00,...,AN PING,"PANAMA, CIUDAD DE",석유제품 운반선,0,25,0,Y,Y,1,2021_001_LACQ6

In [41]:
FUPS_data['id'] = FUPS_data[['입항횟수1', '입항횟수2', '호출부호',]].apply(lambda x:'_'.join(x), axis = 1)
FUPS_data

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무,id
0,D7BN,2016,019,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료,2016_019_D7BN
1,D7BN,2016,019,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하,허가완료,2016_019_D7BN
2,D7BN,2016,019,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료,2016_019_D7BN
3,D7BN,2016,019,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하,허가완료,2016_019_D7BN
4,075682,2017,001,001,5.946,YSK0018,한선해운(주),MBR,01,2017-01-01 23:00,2017-01-02 12:00,MBR,01,2017-01-02 04:25,2017-01-02 18:05,양하,허가완료,2017_001_075682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223266,105351,2021,042,002,575,BSZ7237,봉은해운(주),MBU,01,2021-06-23 01:30,2021-06-23 05:35,MBU,01,2021-06-23 01:30,2021-06-23 05:35,적하,허가완료,2021_042_105351
223267,D5XS2,2021,001,001,39.738,OST0011,팬오션 주식회사,MBA,01,2021-06-24 14:50,2021-06-29 10:00,MBA,01,2021-06-24 14:50,2021-06-29 10:00,양하,허가완료,2021_001_D5XS2
223270,VRRQ3,2021,001,002,28.794,ICC2121,주식회사 굳파트너쉬핑,MDS,03,2021-06-28 12:40,2021-06-29 21:05,MDS,03,2021-06-28 12:40,2021-06-29 21:05,적하,허가완료,2021_001_VRRQ3
223272,HOJK,2021,022,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,01,2021-06-29 13:20,2021-06-29 21:05,접안대기,허가완료,2021_022_HOJK
223278,D7RI,2021,003,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료,2021_003_D7RI

In [42]:
FUPS_data.head(20)

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무,id
0,D7BN,2016,019,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료,2016_019_D7BN
1,D7BN,2016,019,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하,허가완료,2016_019_D7BN
2,D7BN,2016,019,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료,2016_019_D7BN
3,D7BN,2016,019,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하,허가완료,2016_019_D7BN
4,075682,2017,001,001,5.946,YSK0018,한선해운(주),MBR,01,2017-01-01 23:00,2017-01-02 12:00,MBR,01,2017-01-02 04:25,2017-01-02 18:05,양하,허가완료,2017_001_075682
5,DSRN9,2017,001,001,997,BSK2678,영산해운(주),WAM,06,2017-01-01 12:00,2017-01-03 00:00,WAM,06,2017-01-01 11:45,2017-01-02 15:00,접안대기,허가완료,2017_001_DSRN9
6,DSRN9,2017,001,002,997,BSK2678,영산해운(주),MDS,01,2017-01-02 00:00,2017-01-03 23:00,MDS,01,2017-01-02 16:00,2017-01-03 01:50,적하,허가완료,2017_001_DSRN9
7,DSRP3,2016,042,001,1.790,USC0004,가나해운(주),MBN,01,2016-12-30 11:10,2016-12-30 17:25,MBN,01,2016-12-30 11:10,2016-12-30 17:25,양하,허가완료,2016_042_DSRP3
8,DSPR5,2016,017,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-29 03:40,2016-12-29 12:40,WAE,01,2016-12-29 03:40,2016-12-29 12:40,접안대기,허가완료,2016_017_DSPR5
9,DSPR5,2016,017,002,2.517,BSK2514,하나마린(주),MDY,02,2016-12-29 13:35,2016-12-30 07:00,MDY,02,2016-12-29 13:35,2016-12-30 07:00,양하,허가완료,2016_017_DSPR5
10,DSPR5,2016,018,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-30 11:35,2016-12-31 10:10,WAE,01,2016-12-30 11:35,2016-12-31 10:10,접안대기,허가완료,2016_018_DSPR5
11,DSPR5,2016,018,002,2.517,BSK2514,하나마린(주),MDG,02,2016-12-31 10:55,2017-01-01 01:15,MDG,02,2016-12-31 10:55,2017-01-01 01:15,적하,허가완료,2016_018_DSPR5
12,DSDZ5,2016,061,001,998,USC0004,가나해운(주),MBY,03,2016-12-30 08:25,2016-12-30 19:50,MBY,03,2016-12-30 08:25,2016-12-30 19:50,적하,허가완료,2016_061_DSDZ5
13,DSDZ5,2016,061,002,998,USC0004,가나해운(주),WAM,04,2016-12-30 20:10,2016-12-30 21:50,WAM,04,2016-12-30 20:10,2016-12-30 21:50,접안대기,허가완료,2016_061_DSDZ5
14,DSDZ5,2016,061,003,998,USC0004,가나해운(주),MDS,01,2016-12-30 22:40,2016-12-31 10:15,MDS,01,2016-12-30 22:40,2016-12-31 10:15,양하,허가완료,2016_061_DSDZ5
15,DSRL7,2017,001,001,1.464,BSK2514,하나마린(주),MDG,01,2017-01-01 00:20,2017-01-01 05:20,MDG,01,2017-01-01 00:20,2017-01-01 05:20,양하,허가완료,2017_001_DSRL7
16,134809,2016,129,001,699,BSZ9782,금양마린(주),MBN,14,2016-12-29 01:30,2016-12-29 06:20,MBN,14,2016-12-29 01:30,2016-12-29 06:20,NaN,허가완료,2016_129_134809
17,134809,2016,129,002,699,BSZ9782,금양마린(주),MLJ,01,2016-12-29 07:40,2016-12-30 07:30,MLJ,01,2016-12-29 07:40,2016-12-30 07:30,기타,허가완료,2016_129_134809
18,134809,2016,129,003,699,BSZ9782,금양마린(주),MB7,01,2016-12-30 08:00,2016-12-30 16:15,MB7,01,2016-12-30 08:00,2016-12-30 16:15,양하,허가완료,2016_129_134809
19,134809,2016,129,005,699,BSZ9782,금양마린(주),MBO,01,2016-12-31 04:50,2016-12-31 08:50,MBO,01,2016-12-31 04:50,2016-12-31 08:50,적하,허가완료,2016_129_134809

In [43]:
def func1(x, y):
    for i in range(1, 100):
        if x == x + 1 and y == y + 1:
            return i
        elif x != x + 1:
            return i
            i = 0

In [44]:
FUPS_data['입항횟수1'] = pd.to_numeric(FUPS_data['입항횟수1'])
FUPS_data['입항횟수2'] = pd.to_numeric(FUPS_data['입항횟수2'])

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [45]:
FUPS_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 222720 entries, 0 to 223278
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   호출부호              222720 non-null  object
 1   입항횟수1             222720 non-null  int64
 2   입항횟수2             222720 non-null  int64
 3   입항횟수3             222720 non-null  object
 4   신고톤수              222720 non-null  object
 5   선사/대리점1           222720 non-null  object
 6   선사/대리점2           222720 non-null  object
 7   신청시설1             222720 non-null  object
 8   신청시설2             222720 non-null  object
 9   신청일시1(FROM ~ TO)  222720 non-null  object
 10  신청일시2(FROM ~ TO)  222720 non-null  object
 11  지정시설1             222720 non-null  object
 12  지정시설2             222720 non-null  object
 13  지정일시1(FROM ~ TO)  222720 non-null  object
 14  지정일시2(FROM ~ TO)  222720 non-null  object
 15  사용목적명             211122 non-null  object
 16  허가유무              222720 non-null  object
 17  id                222720 non-null  object
dtypes: int64(2), object(16)
memory usage: 32.3+ MB

In [46]:
SADS_data.loc[SADS_data['호출부호']=='D7BN', '호출부호':'차항지']

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지
1008,D7BN,우동,2017,001,최종,외항,입항,8581,2017-01-07 18:00,2017-01-10 10:45,0,KR,WAE,01,정박지-E1,인천
1009,D7BN,우동,2017,001,최종,내항,출항,8581,2017-01-07 18:00,2017-01-10 10:45,0,KR,MDS,02,S-OIL2부두,인천
3189,D7BN,우동,2017,002,최종,외항,입항,8581,2017-01-23 10:40,2017-01-24 20:35,0,KR,WAE,02,정박지-E2,인천
3190,D7BN,우동,2017,002,최종,내항,출항,8581,2017-01-23 10:40,2017-01-24 20:35,0,KR,MDS,01,S-OIL1부두,인천
3944,D7BN,우동,2017,003,최종,내항,출항,8581,2017-01-28 14:00,2017-01-30 04:40,0,KR,MDS,03,S-OIL3부두,인천
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206272,D7BN,우동,2021,007,최종,외항,출항,8581,2021-04-27 11:40,2021-04-29 13:58,0,KR,WAB,01,벙커링전용정박지 E1,CAOJING
208831,D7BN,우동,2021,008,최종,내항,출항,8581,2021-05-16 00:50,2021-05-20 08:40,1,KR,MDS,02,S-OIL2부두,부산
208832,D7BN,우동,2021,008,최종,외항,입항,8581,2021-05-16 00:50,2021-05-20 08:40,1,KR,WAE,01,정박지-E1,부산
213799,D7BN,우동,2021,009,최종,내항,입항,8581,2021-06-24 01:10,2021-06-26 23:20,0,KR,WAE,01,정박지-E1,부산
213800,D7BN,우동,2021,009,최종,내항,출항,8581,2021-06-24 01:10,2021-06-26 23:20,0,KR,MDS,02,S-OIL2부두,부산

In [47]:
FUPS_data_a = FUPS_data[FUPS_data['사용목적명']=='접안대기']

In [48]:
SADS_data_a = SADS_data[SADS_data['입출']=='입항']

In [49]:
FUPS_data.loc[FUPS_data['호출부호']=='D7BN', '호출부호':'사용목적명']

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명
0,D7BN,2016,19,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기
1,D7BN,2016,19,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하
2,D7BN,2016,19,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기
3,D7BN,2016,19,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하
1552,D7BN,2017,1,001,8.581,OST0212,우민해운(주),WAE,01,2017-01-07 18:00,2017-01-09 08:45,WAE,01,2017-01-07 18:00,2017-01-09 08:45,접안대기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214723,D7BN,2021,7,002,8.581,OST0212,우민해운(주),WAB,01,2021-04-29 12:00,2021-04-29 13:58,WAB,01,2021-04-29 12:00,2021-04-29 13:58,급유
217436,D7BN,2021,8,001,8.581,OST0212,우민해운(주),WAE,01,2021-05-16 00:50,2021-05-18 16:40,WAE,01,2021-05-16 00:50,2021-05-18 16:40,접안대기
217636,D7BN,2021,8,002,8.581,OST0212,우민해운(주),MDS,02,2021-05-18 17:30,2021-05-20 08:40,MDS,02,2021-05-18 17:30,2021-05-20 08:40,적하
222635,D7BN,2021,9,001,8.581,OST0212,우민해운(주),WAE,01,2021-06-24 01:10,2021-06-25 13:30,WAE,01,2021-06-24 01:10,2021-06-25 13:30,접안대기
222636,D7BN,2021,9,002,8.581,OST0212,우민해운(주),MDS,02,2021-06-25 14:35,2021-06-26 23:20,MDS,02,2021-06-25 14:35,2021-06-26 23:20,적하

In [50]:
SADS_data_a.loc[SADS_data_a['호출부호']=='D7BN', '호출부호':'차항지']

,호출부호,선명,입항횟수1,입항횟수2,구분,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2,계선장소3,차항지
1008,D7BN,우동,2017,001,최종,외항,입항,8581,2017-01-07 18:00,2017-01-10 10:45,0,KR,WAE,01,정박지-E1,인천
3189,D7BN,우동,2017,002,최종,외항,입항,8581,2017-01-23 10:40,2017-01-24 20:35,0,KR,WAE,02,정박지-E2,인천
3945,D7BN,우동,2017,003,최종,내항,입항,8581,2017-01-28 14:00,2017-01-30 04:40,0,KR,WAE,02,정박지-E2,인천
4637,D7BN,우동,2017,004,최종,내항,입항,8581,2017-02-02 18:25,2017-02-04 17:30,0,KR,WAE,01,정박지-E1,인천
5616,D7BN,우동,2017,005,최종,내항,입항,8581,2017-02-10 07:15,2017-02-13 01:05,0,KR,WAE,01,정박지-E1,인천
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197301,D7BN,우동,2021,005,최종,외항,입항,8581,2021-02-15 09:30,2021-02-17 05:15,1,KR,WAE,01,정박지-E1,SAKAI
203181,D7BN,우동,2021,006,최종,내항,입항,8581,2021-04-03 09:40,2021-04-04 13:55,0,KR,MB4,02,4부두 02,부산
206271,D7BN,우동,2021,007,최종,외항,입항,8581,2021-04-27 11:40,2021-04-29 13:58,0,KR,MBD,03,S-OIL 4부두 03,CAOJING
208832,D7BN,우동,2021,008,최종,외항,입항,8581,2021-05-16 00:50,2021-05-20 08:40,1,KR,WAE,01,정박지-E1,부산
213799,D7BN,우동,2021,009,최종,내항,입항,8581,2021-06-24 01:10,2021-06-26 23:20,0,KR,WAE,01,정박지-E1,부산

In [51]:
FUPS_data_a.loc[FUPS_data_a['호출부호']=='D7BN', '호출부호':'사용목적명']

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명
0,D7BN,2016,19,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기
2,D7BN,2016,19,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기
1552,D7BN,2017,1,001,8.581,OST0212,우민해운(주),WAE,01,2017-01-07 18:00,2017-01-09 08:45,WAE,01,2017-01-07 18:00,2017-01-09 08:45,접안대기
3810,D7BN,2017,2,001,8.581,OST0212,우민해운(주),WAE,02,2017-01-23 10:40,2017-01-23 14:40,WAE,02,2017-01-23 10:40,2017-01-23 14:40,접안대기
4185,D7BN,2017,3,001,8.581,OST0212,우민해운(주),WAE,02,2017-01-28 14:00,2017-01-29 02:15,WAE,02,2017-01-28 14:00,2017-01-29 02:15,접안대기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199481,D7BN,2021,2,001,8.581,OST0212,우민해운(주),WAE,01,2021-01-06 17:10,2021-01-07 07:40,WAE,01,2021-01-06 17:10,2021-01-07 07:40,접안대기
201371,D7BN,2021,3,002,8.581,OST0212,우민해운(주),WAE,01,2021-01-17 13:30,2021-01-18 08:30,WAE,01,2021-01-17 13:30,2021-01-18 08:30,접안대기
204960,D7BN,2021,5,001,8.581,OST0212,우민해운(주),WAE,01,2021-02-15 09:30,2021-02-16 07:10,WAE,01,2021-02-15 09:30,2021-02-16 07:10,접안대기
217436,D7BN,2021,8,001,8.581,OST0212,우민해운(주),WAE,01,2021-05-16 00:50,2021-05-18 16:40,WAE,01,2021-05-16 00:50,2021-05-18 16:40,접안대기
222635,D7BN,2021,9,001,8.581,OST0212,우민해운(주),WAE,01,2021-06-24 01:10,2021-06-25 13:30,WAE,01,2021-06-24 01:10,2021-06-25 13:30,접안대기

In [52]:
FUPS_data

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무,id
0,D7BN,2016,19,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료,2016_019_D7BN
1,D7BN,2016,19,002,8.581,OST0212,우민해운(주),MBA,01,2016-12-28 08:45,2016-12-29 01:45,MBA,01,2016-12-28 08:45,2016-12-29 01:45,양하,허가완료,2016_019_D7BN
2,D7BN,2016,19,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료,2016_019_D7BN
3,D7BN,2016,19,004,8.581,OST0212,우민해운(주),MDS,01,2016-12-30 07:45,2016-12-31 19:30,MDS,01,2016-12-30 07:45,2016-12-31 19:30,적하,허가완료,2016_019_D7BN
4,075682,2017,1,001,5.946,YSK0018,한선해운(주),MBR,01,2017-01-01 23:00,2017-01-02 12:00,MBR,01,2017-01-02 04:25,2017-01-02 18:05,양하,허가완료,2017_001_075682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223266,105351,2021,42,002,575,BSZ7237,봉은해운(주),MBU,01,2021-06-23 01:30,2021-06-23 05:35,MBU,01,2021-06-23 01:30,2021-06-23 05:35,적하,허가완료,2021_042_105351
223267,D5XS2,2021,1,001,39.738,OST0011,팬오션 주식회사,MBA,01,2021-06-24 14:50,2021-06-29 10:00,MBA,01,2021-06-24 14:50,2021-06-29 10:00,양하,허가완료,2021_001_D5XS2
223270,VRRQ3,2021,1,002,28.794,ICC2121,주식회사 굳파트너쉬핑,MDS,03,2021-06-28 12:40,2021-06-29 21:05,MDS,03,2021-06-28 12:40,2021-06-29 21:05,적하,허가완료,2021_001_VRRQ3
223272,HOJK,2021,22,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,01,2021-06-29 13:20,2021-06-29 21:05,접안대기,허가완료,2021_022_HOJK
223278,D7RI,2021,3,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료,2021_003_D7RI

In [53]:
FUPS_data[FUPS_data['사용목적명']=='접안대기']

,호출부호,입항횟수1,입항횟수2,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,지정시설2,지정일시1(FROM ~ TO),지정일시2(FROM ~ TO),사용목적명,허가유무,id
0,D7BN,2016,19,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,03,2016-12-28 06:15,2016-12-28 07:45,접안대기,허가완료,2016_019_D7BN
2,D7BN,2016,19,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,01,2016-12-29 06:45,2016-12-30 06:40,접안대기,허가완료,2016_019_D7BN
5,DSRN9,2017,1,001,997,BSK2678,영산해운(주),WAM,06,2017-01-01 12:00,2017-01-03 00:00,WAM,06,2017-01-01 11:45,2017-01-02 15:00,접안대기,허가완료,2017_001_DSRN9
8,DSPR5,2016,17,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-29 03:40,2016-12-29 12:40,WAE,01,2016-12-29 03:40,2016-12-29 12:40,접안대기,허가완료,2016_017_DSPR5
10,DSPR5,2016,18,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-30 11:35,2016-12-31 10:10,WAE,01,2016-12-30 11:35,2016-12-31 10:10,접안대기,허가완료,2016_018_DSPR5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223255,DSDD6,2021,9,002,1.598,BSK2457,동보해운(주),WAM,03,2021-06-26 06:20,2021-06-27 10:00,WAM,03,2021-06-26 06:20,2021-06-27 10:00,접안대기,허가완료,2021_009_DSDD6
223258,150040,2021,37,001,999,YSK0017,태하해운(주),WAM,03,2021-06-28 03:20,2021-06-28 08:27,WAM,01,2021-06-28 03:20,2021-06-28 08:27,접안대기,허가완료,2021_037_150040
223262,BUSA6,2021,4,001,5.408,USC1002,아성마린(주),WAE,01,2021-06-27 08:30,2021-06-27 20:45,WAE,01,2021-06-27 08:30,2021-06-27 20:45,접안대기,허가완료,2021_004_BUSA6
223272,HOJK,2021,22,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,01,2021-06-29 13:20,2021-06-29 21:05,접안대기,허가완료,2021_022_HOJK
223278,D7RI,2021,3,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,02,2021-06-27 14:35,2021-06-27 21:05,접안대기,허가완료,2021_003_D7RI

In [54]:
data = pd.merge(FUPS_data_a, SADS_data_a, on = "id", how = "left")
data

,호출부호_x,입항횟수1_x,입항횟수2_x,입항횟수3,신고톤수,선사/대리점1,선사/대리점2,신청시설1,신청시설2,신청일시1(FROM ~ TO),...,계선장소3,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,D7BN,2016,19,001,8.581,OST0212,우민해운(주),WAE,03,2016-12-28 06:15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D7BN,2016,19,003,8.581,OST0212,우민해운(주),WAE,01,2016-12-29 06:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DSRN9,2017,1,001,997,BSK2678,영산해운(주),WAM,06,2017-01-01 12:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DSPR5,2016,17,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-29 03:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DSPR5,2016,18,001,2.517,BSK2514,하나마린(주),WAE,01,2016-12-30 11:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36342,DSDD6,2021,9,002,1.598,BSK2457,동보해운(주),WAM,03,2021-06-26 06:20,...,SK1부두 12,NIIGATA,NIIGATA,케미칼 운반선,9,4,0,Y,N,1.0
36343,150040,2021,37,001,999,YSK0017,태하해운(주),WAM,03,2021-06-28 03:20,...,정박지 01,부산,대산,석유제품 운반선,5,5,0,Y,Y,1.0
36344,BUSA6,2021,4,001,5.408,USC1002,아성마린(주),WAE,01,2021-06-27 08:30,...,정박지-E1,OCEAN DISTRICT,NINGBO,석유제품 운반선,0,18,0,Y,Y,1.0
36345,HOJK,2021,22,003,2.690,USC2011,우일해운(주),WAE,01,2021-06-29 13:20,...,정박지-E1,MITAJIRI,"NAGOYA, AICHI",케미칼 운반선,2,12,0,Y,Y,1.0
36346,D7RI,2021,3,001,6.843,YSZ2381,선우탱커 주식회사,WAB,02,2021-06-27 14:35,...,벙커링전용정박지 E2,OCEAN DISTRICT,NINGBO,케미칼 운반선,3,18,0,Y,Y,1.0

In [55]:
# 결측치 확인
print('data : ', data.isnull().sum())

data :  호출부호_x                 0
입항횟수1_x                0
입항횟수2_x                0
입항횟수3                  0
신고톤수                   0
선사/대리점1                0
선사/대리점2                0
신청시설1                  0
신청시설2                  0
신청일시1(FROM ~ TO)       0
신청일시2(FROM ~ TO)       0
지정시설1                  0
지정시설2                  0
지정일시1(FROM ~ TO)       0
지정일시2(FROM ~ TO)       0
사용목적명                  0
허가유무                   0
id                     0
호출부호_y              5669
선명                  5669
입항횟수1_y             5669
입항횟수2_y             5669
구분                  5669
외내                  5669
입출                  5669
총톤수                 5669
입항일시                5669
출항일시                5669
항해구분                5669
국적1                 5669
계선장소1               5669
계선장소2               5669
계선장소3               5669
차항지                 5671
전출항지                5672
선박용도                5669
승무원(한국인)            5669
승무원(외국인)            5669
승객                  5669
예선                  6098
도선                  5671
수리여부                5669
dtype: int64

In [56]:
data.columns

Index(['호출부호_x', '입항횟수1_x', '입항횟수2_x', '입항횟수3', '신고톤수', '선사/대리점1', '선사/대리점2',
       '신청시설1', '신청시설2', '신청일시1(FROM ~ TO)', '신청일시2(FROM ~ TO)', '지정시설1',
       '지정시설2', '지정일시1(FROM ~ TO)', '지정일시2(FROM ~ TO)', '사용목적명', '허가유무', 'id',
       '호출부호_y', '선명', '입항횟수1_y', '입항횟수2_y', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', '항해구분', '국적1', '계선장소1', '계선장소2', '계선장소3', '차항지', '전출항지', '선박용도',
       '승무원(한국인)', '승무원(외국인)', '승객', '예선', '도선', '수리여부'],
      dtype='object')

In [57]:
cols = ['호출부호_y', '입항횟수1_y', '입항횟수2_y', '신고톤수', '선사/대리점2', '계선장소3']
data.drop(labels=cols, axis = "columns", inplace = True)
data

,호출부호_x,입항횟수1_x,입항횟수2_x,입항횟수3,선사/대리점1,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,...,계선장소2,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,D7BN,2016,19,001,OST0212,WAE,03,2016-12-28 06:15,2016-12-28 07:45,WAE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D7BN,2016,19,003,OST0212,WAE,01,2016-12-29 06:45,2016-12-30 06:40,WAE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DSRN9,2017,1,001,BSK2678,WAM,06,2017-01-01 12:00,2017-01-03 00:00,WAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DSPR5,2016,17,001,BSK2514,WAE,01,2016-12-29 03:40,2016-12-29 12:40,WAE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DSPR5,2016,18,001,BSK2514,WAE,01,2016-12-30 11:35,2016-12-31 10:10,WAE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36342,DSDD6,2021,9,002,BSK2457,WAM,03,2021-06-26 06:20,2021-06-27 10:00,WAM,...,12,NIIGATA,NIIGATA,케미칼 운반선,9,4,0,Y,N,1.0
36343,150040,2021,37,001,YSK0017,WAM,03,2021-06-28 03:20,2021-06-28 08:27,WAM,...,01,부산,대산,석유제품 운반선,5,5,0,Y,Y,1.0
36344,BUSA6,2021,4,001,USC1002,WAE,01,2021-06-27 08:30,2021-06-27 20:45,WAE,...,01,OCEAN DISTRICT,NINGBO,석유제품 운반선,0,18,0,Y,Y,1.0
36345,HOJK,2021,22,003,USC2011,WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,...,01,MITAJIRI,"NAGOYA, AICHI",케미칼 운반선,2,12,0,Y,Y,1.0
36346,D7RI,2021,3,001,YSZ2381,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,...,02,OCEAN DISTRICT,NINGBO,케미칼 운반선,3,18,0,Y,Y,1.0

In [58]:
data.rename(columns = {'호출부호_x': '호출부호'}, inplace = True)
data.rename(columns = {'입항횟수1_x': '입항횟수1'}, inplace = True)
data.rename(columns = {'입항횟수2_x': '입항횟수2'}, inplace = True)

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36347 entries, 0 to 36346
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   호출부호              36347 non-null  object
 1   입항횟수1             36347 non-null  int64
 2   입항횟수2             36347 non-null  int64
 3   입항횟수3             36347 non-null  object
 4   선사/대리점1           36347 non-null  object
 5   신청시설1             36347 non-null  object
 6   신청시설2             36347 non-null  object
 7   신청일시1(FROM ~ TO)  36347 non-null  object
 8   신청일시2(FROM ~ TO)  36347 non-null  object
 9   지정시설1             36347 non-null  object
 10  지정시설2             36347 non-null  object
 11  지정일시1(FROM ~ TO)  36347 non-null  object
 12  지정일시2(FROM ~ TO)  36347 non-null  object
 13  사용목적명             36347 non-null  object
 14  허가유무              36347 non-null  object
 15  id                36347 non-null  object
 16  선명                30678 non-null  object
 17  구분                30678 non-null  object
 18  외내                30678 non-null  object
 19  입출                30678 non-null  object
 20  총톤수               30678 non-null  object
 21  입항일시              30678 non-null  object
 22  출항일시              30678 non-null  object
 23  항해구분              30678 non-null  float64
 24  국적1               30678 non-null  object
 25  계선장소1             30678 non-null  object
 26  계선장소2             30678 non-null  object
 27  차항지               30676 non-null  object
 28  전출항지              30675 non-null  object
 29  선박용도              30678 non-null  object
 30  승무원(한국인)          30678 non-null  object
 31  승무원(외국인)          30678 non-null  object
 32  승객                30678 non-null  object
 33  예선                30249 non-null  object
 34  도선                30676 non-null  object
 35  수리여부              30678 non-null  float64
dtypes: float64(2), int64(2), object(32)
memory usage: 10.3+ MB

In [60]:
#SADS_data['계선장소'] = SADS_data['계선장소'].str.replace(",", "")
data['계선장소2'] = pd.to_numeric(data['계선장소2'])
data['입항횟수1'] = pd.to_numeric(data['입항횟수1'])
data['입항횟수2'] = pd.to_numeric(data['입항횟수2'])
data['항해구분'] = pd.to_numeric(data['항해구분'])
data['승무원(한국인)'] = pd.to_numeric(data['승무원(한국인)'])
data['승무원(외국인)'] = pd.to_numeric(data['승무원(외국인)'])
data['승객'] = pd.to_numeric(data['승객'])

#총톤수가 null인 선박 63개중 한개빼고 국제톤수와 징수톤수도 null이었음 -> 총톤수가 null인 호출부호를 보고 총톤수를 찾아서 평균값을 넣어준다.
flg_is_null = data['계선장소2'].isnull()

for trg in list(data.loc[flg_is_null, 'id'].unique()):
    weight = data.loc[(~flg_is_null) & (data['id'] == trg), '계선장소2'].mean()
    data['계선장소2'].loc[(flg_is_null) & (data['id'] == trg)] = weight

print('총톤수값이 null인 선박수:', data['계선장소2'].isnull().sum())

/home/ubuntu/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
총톤수값이 null인 선박수: 5669

In [61]:
data.loc[flg_is_null, 'id'].unique()

array(['2016_019_D7BN', '2017_001_DSRN9', '2016_017_DSPR5', ...,
       '2021_001_V7OT6', '2021_003_V7OH5', '2021_001_V7A4362'],
      dtype=object)

In [62]:
data = data[data['입항횟수1'] != 2016]
data

,호출부호,입항횟수1,입항횟수2,입항횟수3,선사/대리점1,신청시설1,신청시설2,신청일시1(FROM ~ TO),신청일시2(FROM ~ TO),지정시설1,...,계선장소2,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
2,DSRN9,2017,1,001,BSK2678,WAM,06,2017-01-01 12:00,2017-01-03 00:00,WAM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,D7NP,2017,1,001,BSK2514,WAM,01,2017-01-01 21:15,2017-01-01 22:45,WAM,...,1.0,CHIBA,ICHIHARA,케미칼 운반선,4.0,7.0,0.0,N,N,1.0
25,DSRL9,2017,1,001,BSK2514,WAE,01,2017-01-01 20:40,2017-01-02 01:05,WAE,...,1.0,YOKKAICHI,군산,케미칼 운반선,9.0,4.0,0.0,N,N,1.0
32,130004,2017,1,001,BSK2548,WAM,04,2017-01-01 06:40,2017-01-01 07:40,WAM,...,4.0,여수,여수,석유제품 운반선,5.0,6.0,0.0,N,N,1.0
39,010511,2017,1,002,BSZ7247,WAW,01,2017-01-01 16:10,2017-01-01 17:45,WAW,...,1.0,부산,부산,석유제품 운반선,4.0,4.0,0.0,N,N,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36342,DSDD6,2021,9,002,BSK2457,WAM,03,2021-06-26 06:20,2021-06-27 10:00,WAM,...,12.0,NIIGATA,NIIGATA,케미칼 운반선,9.0,4.0,0.0,Y,N,1.0
36343,150040,2021,37,001,YSK0017,WAM,03,2021-06-28 03:20,2021-06-28 08:27,WAM,...,1.0,부산,대산,석유제품 운반선,5.0,5.0,0.0,Y,Y,1.0
36344,BUSA6,2021,4,001,USC1002,WAE,01,2021-06-27 08:30,2021-06-27 20:45,WAE,...,1.0,OCEAN DISTRICT,NINGBO,석유제품 운반선,0.0,18.0,0.0,Y,Y,1.0
36345,HOJK,2021,22,003,USC2011,WAE,01,2021-06-29 13:20,2021-06-29 21:05,WAE,...,1.0,MITAJIRI,"NAGOYA, AICHI",케미칼 운반선,2.0,12.0,0.0,Y,Y,1.0
36346,D7RI,2021,3,001,YSZ2381,WAB,02,2021-06-27 14:35,2021-06-27 21:05,WAB,...,2.0,OCEAN DISTRICT,NINGBO,케미칼 운반선,3.0,18.0,0.0,Y,Y,1.0

In [70]:
data = data.reset_index()
data

,level_0,index,호출부호,입항횟수1,입항횟수2,입항횟수3,선사/대리점1,신청시설1,신청시설2,신청일시1(FROM ~ TO),...,계선장소2,차항지,전출항지,선박용도,승무원(한국인),승무원(외국인),승객,예선,도선,수리여부
0,0,2,DSRN9,2017,1,001,BSK2678,WAM,06,2017-01-01 12:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,10,D7NP,2017,1,001,BSK2514,WAM,01,2017-01-01 21:15,...,1.0,CHIBA,ICHIHARA,케미칼 운반선,4.0,7.0,0.0,N,N,1.0
2,2,25,DSRL9,2017,1,001,BSK2514,WAE,01,2017-01-01 20:40,...,1.0,YOKKAICHI,군산,케미칼 운반선,9.0,4.0,0.0,N,N,1.0
3,3,32,130004,2017,1,001,BSK2548,WAM,04,2017-01-01 06:40,...,4.0,여수,여수,석유제품 운반선,5.0,6.0,0.0,N,N,1.0
4,4,39,010511,2017,1,002,BSZ7247,WAW,01,2017-01-01 16:10,...,1.0,부산,부산,석유제품 운반선,4.0,4.0,0.0,N,N,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36238,36238,36342,DSDD6,2021,9,002,BSK2457,WAM,03,2021-06-26 06:20,...,12.0,NIIGATA,NIIGATA,케미칼 운반선,9.0,4.0,0.0,Y,N,1.0
36239,36239,36343,150040,2021,37,001,YSK0017,WAM,03,2021-06-28 03:20,...,1.0,부산,대산,석유제품 운반선,5.0,5.0,0.0,Y,Y,1.0
36240,36240,36344,BUSA6,2021,4,001,USC1002,WAE,01,2021-06-27 08:30,...,1.0,OCEAN DISTRICT,NINGBO,석유제품 운반선,0.0,18.0,0.0,Y,Y,1.0
36241,36241,36345,HOJK,2021,22,003,USC2011,WAE,01,2021-06-29 13:20,...,1.0,MITAJIRI,"NAGOYA, AICHI",케미칼 운반선,2.0,12.0,0.0,Y,Y,1.0
36242,36242,36346,D7RI,2021,3,001,YSZ2381,WAB,02,2021-06-27 14:35,...,2.0,OCEAN DISTRICT,NINGBO,케미칼 운반선,3.0,18.0,0.0,Y,Y,1.0

In [65]:
data.loc[data['계선장소2'].isnull(), 'id':'계선장소2']

,id,선명,구분,외내,입출,총톤수,입항일시,출항일시,항해구분,국적1,계선장소1,계선장소2
2,2017_001_DSRN9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2017_002_V7OH9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,2017_001_DSOL5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2017_001_DSGV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2017_001_061079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
35075,2021_001_V7A4361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35076,2021_001_V7A4361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35099,2021_001_V7OT6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35111,2021_003_V7OH5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35585,2021_001_V7A4362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
data.loc[data['id']=='2016_019_D7BN', 'id':'계선장소2']

Empty DataFrame
Columns: [id, 선명, 구분, 외내, 입출, 총톤수, 입항일시, 출항일시, 항해구분, 국적1, 계선장소1, 계선장소2]
Index: []

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36243 entries, 2 to 36346
Data columns (total 36 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   호출부호              36243 non-null  object
 1   입항횟수1             36243 non-null  int64
 2   입항횟수2             36243 non-null  int64
 3   입항횟수3             36243 non-null  object
 4   선사/대리점1           36243 non-null  object
 5   신청시설1             36243 non-null  object
 6   신청시설2             36243 non-null  object
 7   신청일시1(FROM ~ TO)  36243 non-null  object
 8   신청일시2(FROM ~ TO)  36243 non-null  object
 9   지정시설1             36243 non-null  object
 10  지정시설2             36243 non-null  object
 11  지정일시1(FROM ~ TO)  36243 non-null  object
 12  지정일시2(FROM ~ TO)  36243 non-null  object
 13  사용목적명             36243 non-null  object
 14  허가유무              36243 non-null  object
 15  id                36243 non-null  object
 16  선명                30678 non-null  object
 17  구분                30678 non-null  object
 18  외내                30678 non-null  object
 19  입출                30678 non-null  object
 20  총톤수               30678 non-null  object
 21  입항일시              30678 non-null  object
 22  출항일시              30678 non-null  object
 23  항해구분              30678 non-null  float64
 24  국적1               30678 non-null  object
 25  계선장소1             30678 non-null  object
 26  계선장소2             30678 non-null  float64
 27  차항지               30676 non-null  object
 28  전출항지              30675 non-null  object
 29  선박용도              30678 non-null  object
 30  승무원(한국인)          30678 non-null  float64
 31  승무원(외국인)          30678 non-null  float64
 32  승객                30678 non-null  float64
 33  예선                30249 non-null  object
 34  도선                30676 non-null  object
 35  수리여부              30678 non-null  float64
dtypes: float64(6), int64(2), object(28)
memory usage: 10.2+ MB